.banner-content {
  text-align: center;
  color: rgb(53, 55, 56);
  padding: 5px;
  background-color: #222;
  text-shadow: 2px 2px 4px rgba(182, 174, 174, 0.7);
  border-top: 4px solid #444;
  border-bottom: 4px solid #444;
}

.banner-content h1 {
  font-size: 48px;
}

/* wrapper */
.banner-images {
  overflow: hidden;
  width: 100%;
  background-color: #222;
  position: relative;
  height: 350px;
}

/* track animation */
.scrolling-track {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

/* áº£nh banner */
.banner-img {
  height: 350px;
  width: 500px;
  object-fit: contain;
  border: 4px solid #222;
  margin-right: 10px;
}

/* animation keyframes */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
