.banner-content {
  text-align: center;
  color: rgb(53, 55, 56);
  padding: 5px;
  background-color: #222;
  text-shadow: 2px 2px 4px rgba(182, 174, 174, 0.7);
  border-top: 4px solid #444;
  border-bottom: 4px solid #444;
}
.banner-content h1 {
font-size: 48px;
}
/* wrapper marquee */
.banner-images {
  overflow: hidden;
  width: 100%;
  background-color: #222;
}

/* loại khoảng trắng giữa inline elements: đặt img thành block hoặc inline-block no whitespace */
.banner-img {
  height: 350px;
  width: 500px;
  display: inline-block; /* loại bỏ khoảng trắng giữa các ảnh */
  background-color: white;
  object-fit: contain; /* giữ tỉ lệ ảnh */
  border: 4px solid #222;
}


