.header {
  background-color: #222;
  padding: 20px 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: right;
  padding: 0;
  margin: 0;
  
}
.header-list li a {
  color: rgb(26, 20, 20);
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  text-align: right;
  font-size: 18px;
  background-color: rgb(167, 156, 156);
}
.logo-image {
  height: 100px;
  font-size: 24px;
  width: 100px;
  display: flex;
  justify-items: left;
  margin-right: auto; 
}