
.news-home {
  background: #4b4646;
  padding: 40px 0;
  display: flex;
justify-content: center;
}

/* Container chính giữ grid */
.container_main {
  width: 90%;
  max-width: 1400px;
  margin:auto;
}
.container_main {
  min-height: 100vh; /* cao ít nhất bằng chiều cao màn hình, nhưng không dư */
  padding-bottom: 40px; /* chừa khoảng cho footer nếu cần */
}
